<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Sheep Clicker</title>
<!--link href="/style.css" rel="stylesheet"
	type="text/css" /-->
	<script src="/js/packed.js" defer></script>
</head>

<body>
	<!-- Header -->
	<nav id="topbar" class="fixed bg-primary pt-4 pb-2">
		<p id="tbt" class="ct">Sheep Clicker version
			<span class="red" id="ver">b8</span> by
			<a href="https://replit.com/@Lamby777" class="hidelink white">
				DexieTheSheep
			</a>
		</p>
	</nav>
	<div id="clickspace" class="containter bg-secondary
								col-5 pt-5 mt-7 mb-5 mx-auto"
		oncontextmenu="return false;">
	<h3 id="pts" class="ct">
		Click the sheep to shear him!
	</h3>
	<h4 title="You can increase this with Dexie's Blessings"
		id="max" class="ct">
		Max wool:
	</h4>
	<div id="clickarea">
		<img id="sheep" alt="A sheep who recently found your farm"
			class="mx-auto" src="/media/sheep.jpeg">
	</div>
	<br/><br/>
	<p id="wbpc" title="WBpC is how many bags of wool you get each time
		you click the big sheep to shear him. You can increase your WBpC
		by buying Shepherds or buying any upgrade that directly
		(WBpC boost) or indirectly (Shepherd boost, and some other
		stuff) helps you gain WBpC">WBpC: 0</p>
	<p id="wbps" title="WBpS is how many bags of wool you get per second,
		automatically. You can increase your WBpS by buying certain
		upgrades, or by buying any game asset except Shepherd.
		(Shepherd increases WBpC)">WBpS: 0</p>
	<br/>
	</div>
	<div id="store" class="ct">
		<div id="hr-department" class="container"></div>
		
		<p id="dxb" class="supgrade mb-5">DEXIE'S BLESSING 1 (200Mil)</p>
		<p id="bulkbuy">Key B = Bulk buy last bought item</p>
		<h2>Upgrades</h2>
			//
	</div>

	
	<!-- Audio -->
	<audio id="mus" loop>
		<source src="/media/soundscape.mp3" type="audio/mpeg">
	</audio>
	<audio id="cs">
		<source src="http://dight310.byu.edu/media/audio/FreeLoops.com/5/5/Mouse%20Click%20Fast.wav-23232-Free-Loops.com.mp3" type="audio/mpeg">
	</audio>
</body>

</html>