<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Sheep Clicker</title>
<!--link href="/style.css" rel="stylesheet"
	type="text/css" /-->
	<script src="/js/packed.js" defer></script>
</head>

<body>
	<div id="topbar" class="fixed">
		<p id="tbt" class="ct">Sheep Clicker version
			<span class="red" id="ver">b8</span> by
			<a href="https://repl.it/@Lamby777" class="hidelink white">
				DexieTheSheep
			</a>
		</p>
	</div>
	<br><br><br><br>
	<div id="clickspace" oncontextmenu="return false;">
	<br/>
	<h3 id="pts" class="ct">
		Click the sheep to shear him!
	</h3>
	<span title="You can increase this with Dexie's Blessings">
		<h4 id="max" class="ct">
			Max wool:
		</h4>
	</span>
	<audio id="mus" loop>
		<source src="/media/soundscape.mp3" type="audio/mpeg">
	</audio>
	<audio id="cs">
		<source src="http://dight310.byu.edu/media/audio/FreeLoops.com/5/5/Mouse%20Click%20Fast.wav-23232-Free-Loops.com.mp3" type="audio/mpeg">
	</audio>
	<div id="clickarea">
	<img id="sheep" class="ct" src="/media/sheep.jpeg"></img>
	</div>
	<br/><br/>
	<span title="WBpC is how many bags of wool you get each time you click the big sheep to shear him. You can increase your WBpC by buying Shepherds or buying any upgrade that directly (WBpC boost) or indirectly (Shepherd boost, and some other stuff) helps you gain WBpC"><p id="wbpc">WBpC: 0</p></span>
	<span title="WBpS is how many bags of wool you get per second, automatically. You can increase your WBpS by buying certain upgrades, or by buying any game asset except Shepherd. (Shepherd increases WBpC)"><p id="wbps">WBpS: 0</p></span>
	<br/>
	</div>
	<center>
	<div id="store">
	<p id="shepherd" class="supgrade">
		[Shepherd]
	</p>
	<p id="shearer" class="supgrade">
		[Shearer]
	</p>
	<p id="knitter" class="supgrade">
		[Wool Knitter]
	</p>
	<p id="ssitter" class="supgrade">
		[Sheep-sitter]
	</p>
	<p id="spiz" class="supgrade">
		[Sheep Pizza]
	</p>
	<p id="dxb" class="supgrade">DEXIE'S BLESSING 1 (200Mil)</p>
	<br><br><br>
	<p id="bbsheps" class="cpu">Key B = Bulk buy last bought item</p>
	<p id="bbli bbsheps" class="mobile">{Bulk Buy last item}</p>
	<h2>Upgrades</h2>
		//
	</div>
	</div>
	</div>
	</center>
</body>

</html>