body {
    background-image: url("/dist/media/connectwork.png");
	color: white;
	/* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ct {
	text-align: center;
	img, & > img {
    	display: block;
    	margin: inherit auto;
	}
}

.fixed {
	position:fixed;
	width:100%;
	top:0;
	left:0;
}

div#clickspace {
	background: #f0f0f0;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	height: 100vh;
	text-align: center;
}

img#sheep {
	cursor: pointer;
}

#bbsheps {
	color: black;
	background: #ccffcc;
}

#store {
	display: block;
}

#wbps, #wbpc, #pts, #max {
	color: black;
}

.upgrade, .sug {
	font-family: "Lucida Console", Monaco, monospace;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.sug {
	line-height: 60%;
}

.upgrade {
	display: block;
}

#tbt, #topbar {
	background-color: darkslategray;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidelink {
	text-decoration: none;
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.fixeddown {
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
}
